ul{
    max-width: 5rem;
    display: flexbox;
    list-style:none;
}

button{
    display: inline-block;
    margin: 5px;
}
#dispFrame{
    overflow: scroll;
    width: 80%;
    height: 80vh;
    margin: 10vh;
}

a{
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    display: -webkit-inline-flex;
}

.container{
    text-align: center;
    width: 50%;
    margin: 5% 25%;
}

input{
    padding: 1rem;
    margin: 1rem;
    display: block;
}